@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
 .navbar img {
     padding: 0;
     width: 195px;
     height: 100px;
     margin-top: -10px;
     margin-left: 186%;
}
 .form {
     position: relative;
     color: #8e8e8e;
     left: 130px;
}
 .form-inline .fa-search {
     position: absolute;
     top: 43px;
     left: 78%;
     color: #9ca3af;
     font-size: 22px;
}
 .form-input[type="text"] {
     height: 50px;
     width: 500px;
     background-color: #f0f0f0;
     border-radius: 10px;
     margin-left: 430px;
     margin-top: -10px;
}
 .cart {
     font-size: 30px;
     padding: 0;
     color: #65a5a5;
     margin-top: -5px;
     left: 50.5%;
     transform: translateX(-50%);
     position: absolute;
}
 .num-cart {
     background-color: #ff7e95;
     border-radius: 50px;
     padding: 2px;
     margin: auto;
     width: 20px;
     height: 20px;
     font-size: 10px;
     position: absolute;
     top: 5px;
     margin-left: 20.5%;
     transform: translateX(50%);
     color: white;
     text-align: center;
}
 .nav-hr{
     width:60%;
     margin: auto;
     margin-top:-6px;
}
 #search-results{
     display:none;
}
 .back{
     display: none;
}
 .filter{
     margin-top: 15px;
     margin-left:78%;
     font-size: 25px;
     color: #8e8e8e;
}
 .filter {
     cursor: pointer;
}
 .close-modal {
     background-color:transparent;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     margin-top: 12px;
     margin-left:90%;
     font-size: 20px;
     color: #666;
     transform: translateX(-50%);
     position: absolute;
}
 .close-modal:hover {
     background-color: transparent;
     color:#666;
}
 .close-modal:focus{
     outline: none;
}
 .modal-overlay {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.3);
     z-index: 1;
     opacity: 0;
     transition: opacity 0.3s ease;
}
 .modal-overlay-active {
     display: block;
     opacity: 1;
}
 .filter-modal {
     display: none;
     position: fixed;
     top: 19%;
     left: 50%;
     transform: translateX(-50%);
     width: 30%;
     height: auto;
     justify-content: center;
     align-items: center;
     z-index: 2;
     transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
 .filter-modal-content {
     background-color: #fff;
     padding: 25px;
     border-radius: 5px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
 .p-filter{
     text-align: center;
     font-size: 20px;
     margin-top: 10px;
}
 .f-label{
     font-size: 18px;
     color:#555;
     font-weight: 400;
     margin-top: 25px;
     margin-bottom:20px;
}
 .price input{
     text-align: center;
     border-radius: 30px;
     color: #666;
}
 .m-price{
     border: 1px solid #65A5A5;
     padding:5px;
     width:47%;
}
 .m-price:focus {
     border: 2px solid #65A5A5;
     outline: none;
}
 .m-price + .m-price {
     margin-left: 25px;
    /* Adjust the value as needed */
}
 .m-price::placeholder{
     text-align: center;
     font-size: 14px;
     color:#bebebe;
}
 .r-btn{
     align-items: center;
     padding: 5px 9px;
     border-radius: 30px;
     border: 1px solid #65A5A5;
     background: #FFF;
     color: #666;
    ;
     margin: 5px 6px;
     cursor: pointer;
     width: auto;
     font-size: 14px;
}
 .r-btn:focus{
     outline:none;
     border:none;
     background-color: #65A5A5;
     color: white;
}
 .ratings-btn{
     align-items: center;
     padding: 5px 9px;
     border-radius: 30px;
     border: 1px solid #65A5A5;
     background: #FFF;
     color: #666;
    ;
     margin: 5px 6px;
     cursor: pointer;
     width: 17%;
     font-size: 14px;
}
 .ratings-btn:focus{
     outline:none;
     border:none;
     background-color: #65A5A5;
     color: white;
}
 .ratings-btn i{
     color: #ff7e95;
}
 .f-apply {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
     text-align: center;
}
 .apply {
     background-color: #65a5a5;
     color: white;
     border: none;
     padding: 12px;
     min-width: 520px;
     width: auto;
     border-radius: 30px;
     margin-top: 30px;
     margin-bottom: 20px;
}
 .apply:focus {
     border: none;
     outline: none;
}
 .product-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     gap: 20px;
     max-width: 1140px;
     margin: 0 auto;
     margin-top: 30px;
}
 .product {
     flex: 0 0 calc(2%);
     margin-top:-20px;
     margin-bottom: 20px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     text-align: left;
     box-sizing: border-box;
}
 .product a:hover{
     text-decoration: none;
}
 .product:hover {
     transform: scale(1.05);
     box-shadow: 0px 0px 6px #65A5A5;
}
 .product a img {
     max-width: 150px;
     height:160px;
     flex-grow: 1;
}
 .product .product-info {
     padding: 10px;
}
 .product .product-name {
     font-weight: 500;
     margin-top: 20px;
     margin-bottom: 5px;
     font-size: 15px;
     color: #666;
}
 .product .product-category {
     color: #666;
     margin-bottom: 5px;
     font-size: 12px;
}
 .product .product-price {
     color: #666;
     margin-bottom: 5px;
     font-size: 15px;
}
 .product .product-ratings {
     color: #acaaaa;
     font-size: 11px;
     margin-top: 3px;
     margin-left: 50px;
}
 .product .p {
     display: flex;
}
 .p-end {
     color: #bebebe;
     font-size: 14px;
     text-align: center;
     margin-top: 30px;
}
/*Responsiveness*/
 @media (max-width: 768px) {
      .navbar{
         position: fixed;
         background-color: white;
         width:100%;
         z-index: 100;
     }
     .navbar img {
         display: none;
    }
     .form-input[type="text"] {
         display: none;
    }
     .nav-hr{
         width:100%;
    }
     a #search-results{
         display: block ;
         font-size: 15px;
         margin-left: 20px;
         color: #555;
         margin-top: -20px;
    }
    a:hover{
        text-decoration: none;
        outline: none;
        border:none;
    }
     .back{
         display: block;
         font-size: 20px;
    }
     .cart {
         font-size: 20px;
         padding: 0;
         position: absolute;
         top: 25px;
         left: 80%;
         transform: translateX(-50%);
         color: #65a5a5;
    }
     .num-cart {
         background-color: #ff7e95;
         border-radius: 50px;
         padding: 2px;
         margin: auto;
         width: 17px;
         height: 17px;
         font-size: 9px;
         font-weight: bold;
         position: absolute;
         top: 2px;
         margin-left: 10%;
         transform: translateX(50%);
         color: white;
         text-align: center;
    }
     .form-inline .fa-search {
         display: none;
    }
     .form-inline .back{
         text-decoration: none;
         color:#666;
    }
     .form-inline .fa-angle-left:focus {
         text-decoration: none;
         outline: none;
    }
     .filter {
         margin-top: 15px;
         margin-left: 93%;
         font-size: 20px;
         position: fixed;
         color: #8e8e8e;
         transform: translateX(-50%);
         z-index: 200;
         top: 0;
       
    }
     .close-modal {
         background-color:transparent;
         border: none;
         cursor: pointer;
         border-radius: 5px;
         margin-top: 12px;
         margin-left:89%;
         font-size: 20px;
         color: #777;
         transform: translateX(-50%);
         position: absolute;
    }
     .close-modal:hover {
         background-color: transparent;
         color:#666;
    }
     .close-modal:focus{
         outline: none;
    }
     .modal-overlay {
         display: none;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.2);
         z-index: 100;
         opacity: 0;
         transition: opacity 0.3s ease;
        
    }
     .modal-overlay-active {
         display: block;
         opacity: 1;
        
    }
     .filter-modal {
         display: none;
         position: fixed;
         top: 37%;
         width: 102%;
         left:50%;
         right:0;
         height: auto;
         justify-content: center;
         align-items: center;
         z-index: 200;
         transition: bottom 100.5s ease-in-out, opacity 100.5s ease-in-out;
    }
     .filter-modal-content {
         background-color: #fff;
         padding: 15px;
         border-radius: 15px;
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
     .p-filter{
         text-align: center;
         font-size: 15px;
         margin-top: 10px;
         color: #777;
    }
     .f-label{
         font-size: 14px;
         color:#555;
         font-weight: 400;
         margin-top: 25px;
         margin-bottom:20px;
    }
     .price input{
         text-align: center;
         border-radius: 30px;
         color: #666;
         font-size: 14px;
    }
     .m-price{
         border: 1px solid #65A5A5;
         padding:5px;
         width:45%;
    }
     .m-price:focus {
         border: 2px solid #65A5A5;
         outline: none;
    }
     .m-price + .m-price {
         margin-left: 25px;
        
    }
     .m-price::placeholder{
         text-align: center;
         font-size: 14px;
    }
     .r-btn{
         align-items: center;
         padding: 5px 9px;
         border-radius: 30px;
         border: 1px solid #65A5A5;
         background: #FFF;
         color: #666;      
         margin: 4px;
         cursor: pointer;
         width: auto;
         font-size: 13px;
    }
     .r-btn:focus{
         outline:none;
         border:none;
         background-color: #65A5A5;
         color: white;
    }
     .ratings-btn{
         align-items: center;
         padding: 5px 9px;
         border-radius:30px;
         border: 1px solid #65A5A5;
         background: #FFF;
         color: #666;
        ;
         margin: 5px 6px;
         cursor: pointer;
         width: 15%;
         font-size: 13px;
    }
     .ratings-btn:focus{
         outline:none;
         border:none;
         background-color: #65A5A5;
         color: white;
    }
     .ratings-btn i{
         color: gold;
    }
     .f-apply {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: auto;
         text-align: center;
    }
     .apply {
         background-color: #65a5a5;
         color: white;
         border: none;
         padding: 12px;
         min-width: 345px;
         width: auto;
         border-radius: 30px;
         margin-top: 30px;
         margin-bottom: 20px;
    }
     .apply:focus {
         border: none;
         outline: none;
    }
     .product-list {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         margin-top: 80px;
    }
     .product {
         width: calc(9%);
         margin-bottom: 0px;
         margin-top: 0px;
         border: 1px solid #ccc;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         text-align: left;
    }
     .product img {
         max-width: 193px;
         height: 150px;
         flex-grow: 1;
    }
     .product .product-info {
         padding: 10px;
    }
     .product .product-name {
         font-weight: 500;
         margin-top: 20px;
         margin-bottom: 5px;
         font-size: 14px;
         color: #666;
    }
     .product .product-category {
         color: #666;
         margin-bottom: 5px;
         font-size: 11px;
    }
     .product .product-price {
         color: #ff7e95;
         margin-bottom: 5px;
         font-size: 15px;
    }
     .product .product-ratings {
         color: #acaaaa;
         font-size: 11px;
         margin-top: 3px;
         margin-left: 50px;
    }
     .product .p {
         display: flex;
    }
     .p-end {
         color: #bebebe;
         font-size: 12px;
         text-align: center;
         margin-top: 30px;
    }
    /* Media query to adjust alignment for smaller screens */
     @media (max-width: 768px) {
         .product {
             width: calc(50% - 15px);
            /* Two items in a row */
        }
         .product-list{
             gap: 10px;
        }
         .btn-container .btn:nth-child(n+4) {
             display: none;
            /* Hide buttons starting from the 4th button */
        }
         .btn-container .dropdown {
             display: inline-block;
            /* Display the dropdown button */
        }
    }
}
 