@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;   700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.navbar img {
	padding: 0;
	width: 195px;
	height: 100px;
	margin-top: -10px;
	margin-left: 186%;
}
.form {
	position: relative;
	color: #8e8e8e;
	left: 130px;
}
.form-inline .fa-search {
	position: absolute;
	top: 43px;
	left: 78%;
	color: #9ca3af;
	font-size: 22px;
}
.form-input[type="text"] {
	height: 50px;
	width: 500px;
	background-color: #f0f0f0;
	border-radius: 10px;
	margin-left: 430px;
	margin-top: -10px;
}
.nav-hr {
	width: 60%;
	margin: auto;
	margin-top: -6px;
}
.back {
	display: none;
}
#search-results {
	display: none;
}
.container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.cart-container {
	width: 120%;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cart-item {
	display: flex;
	align-items: flex-start;
	padding: 20px;
}
.cart-item .custom-checkbox img {
	width: 300px;
	max-height: 280px;
	margin-left: 20px;
	margin-top: 50px;
	position: sticky;
}
.item-details {
	padding: 20px;
	margin-left: 20px;
}
.item-details h2 {
	font-size: 17px;
	color: #555;
}
.item-details p {
	margin: 5px 0;
}
.dropdown {
	display: none;
}
.flower-type {
	display: flex;
	gap: 10px;
	margin-top: -5px;
}
.flower {
	font-size: 15px;
	color: #777;
}
.type {
	font-size: 15px;
	color: #666;
}
.ribbon-color {
	display: flex;
	gap: 10px;
	margin-top: -5px;
}
.ribbon {
	font-size: 15px;
	color: #777;
}
.color {
	font-size: 15px;
	color: #666;
}
.price {
	color: #ff7e95;
	font-weight: 500;
	font-size: 18px;
}
.stars .bi {
	fill: none;
	font-size: 1.5em;
	margin-left: 10px;
	color: #888;
}
.stars {
	display: flex;
	margin-top: 5px;
	margin-left: -10px;
}
/* Review input */

.review-input textarea {
	width: 700px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
}
.review-input textarea:focus {
	outline: none;
}
.image-upload-container {
	display: flex;
	flex-direction: column;
}
/* Image preview */

.image-preview {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 0px;
	margin-top: 20px;
	padding: 0px;
}
.preview-image {
	width: 110px;
	height: 90px;
	margin-right: -5px;
	align-items: flex-start;
	padding: 0px;
	border-radius: 10px;
}
.image-upload {
	display: flex;
	font-size: 15px;
}
.image-upload input[type="file"] {
	display: none;
}
.image-upload label {
	border: 1px solid #65A5A5;
	color: #65A5A5;
	padding: 8px 12px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	
}
.delete-button {
	background-color: #6b68685e;
	color: #fff;
	border: none;
	border-radius: 50px;
	padding: 4px 8px;
	font-size: 9px;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 0px;
}
.image-container {
	position: relative;
	margin-right: 10px;
	display: inline-block;
}
/* Modal Styles */

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
	background-color: #f7b6b6f8;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid rgb(240, 99, 99);
	width: 15%;
	text-align: center;
	color: white;
}
/* Modal Styles */

.modal1 {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.bi-emoji-smile {
	font-size: 40px;
	color: #666;
	margin-bottom: 20px;
}
.modal1-content {
	background-color: white;
	margin: 20% auto;
	padding: 30px 30px;
	width: 20%;
	text-align: center;
	color: #666;
	border-radius: 5px;
}
.submit-button {
	background-color: #65A5A5;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
	float: right;
}
.submit-button:hover {
	background-color: #65A5A5;
}
.submit-button:focus {
	border: none;
	outline: none;
}
/*Responsiveness*/

@media (max-width: 768px) {
	.navbar {
		position: fixed;
		background-color: white;
		width: 100%;
		z-index: 10;
	}
	.navbar img {
		display: none;
	}
	.form-input[type="text"] {
		display: none;
	}
	.nav-hr {
		width: 100%;
	}
	a #search-results{
		display: block ;
		font-size: 15px;
		margin-left: 20px;
		color: #555;
		margin-top: -20px;
   }
   a:hover{
	   text-decoration: none;
	   outline: none;
	   border:none;
   }
	.back {
		display: block;
		font-size: 20px;
	}
	.form-inline .fa-search {
		display: none;
	}
	.form-inline .back {
		text-decoration: none;
		color: #666;
	}
	.form-inline .fa-angle-left:focus {
		text-decoration: none;
		outline: none;
	}
	.container {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}
	.cart-container {
		width: 100%;
		margin: 20px auto;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	.cart-item {
		align-items: flex-start;
		margin-bottom: 50px;
		padding: 20px;
	}
	.cart-item .custom-checkbox img {
		width: 80px;
		max-height: 85px;
		margin-left: -5px;
		margin-top: 25px;
		position: sticky;
	}
	.item-details {
		margin-top: -15px;
		margin-left: -5px;
	}
	.item-details h2 {
		font-size: 13px;
		color: #555;
		margin-left: 0px;
		margin-top: -10px;
	}
	.item-details p {
		margin: 5px 0;
	}
	.flower-type {
		display: flex;
		justify-content: flex-start;
		width: 190px;
		margin-top: -1px;
	}
	.flower {
		color: #777;
		font-size: 11px;
	}
	.type {
		color: #777;
		font-size: 11px;
	}
	.ribbon-color {
		display: flex;
		gap: 10px;
		margin-top: 1px;
	}
	.ribbon {
		font-size: 11px;
		color: #777;
	}
	.color {
		font-size: 11px;
		color: #666;
	}
	.price {
		color: #ff7e95;
		font-weight: 500;
		font-size: 13px;
		display: flex;
		position: absolute;
		left: 40%;
		transform: translateX(-50%);
	}
	.stars .bi {
		fill: none;
		font-size: 1.2em;
		margin-left: 0px;
		color: #888;
	}
	.stars {
		display: flex;
		margin: auto;
		margin-top: 35px;
		gap: 15px;
	}
	/* Review input */
	.review-input textarea {
		width: 315px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-top: 10px;
		margin-left: -95px;
		position: relative;
	}
	.review-input textarea:focus {
		outline: none;
	}
	.review-input textarea::placeholder {
		font-size: 12px;
	}
	.image-upload-container {
		display: flex;
		flex-direction: column;
	}
	/* Image preview */
	.image-preview {
		display: flex;
		flex-wrap: nowrap;
		margin-left: -98px;
		margin-top: 10px;
		padding: 0px;
	}
	.preview-image {
		width: 60px;
		height: 50px;
		margin-right: -5px;
		align-items: flex-start;
		padding: 0px;
		border-radius: 5px;
	}
	.image-upload {
		display: flex;
	}
	.image-upload input[type="file"] {
		display: none;
	}
	.image-upload label {
		border: 1px solid #65A5A5;
		color: #65A5A5;
		padding: 8px 15px;
		border-radius: 5px;
		cursor: pointer;
		margin-left: 13px;
		margin-top: 10px;
		font-size: 10px;
	}
	.delete-button {
		background-color: #6b68685e;
		color: #fff;
		border: none;
		border-radius: 50px;
		padding: 4px 8px;
		font-size: 7px;
		cursor: pointer;
		position: absolute;
		top: 2px;
		right: -4px;
	}
	.image-container {
		position: relative;
		margin-right: 10px;
		display: inline-block;
	}
	/* Modal Styles */
	.modal {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.modal-content {
		background-color: #f7b6b6f8;
		margin: 80% auto;
		padding: 10px;
		border: 1px solid rgb(240, 99, 99);
		width: 50%;
		text-align: center;
		color: white;
		font-size: 12px;
		border-radius: 5px;
	}
	/* Modal Styles */
	.modal1 {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.bi-emoji-smile {
		font-size: 20px;
		color: #666;
		margin-bottom: 20px;
	}
	.modal1-content {
		background-color: white;
		margin: 80% auto;
		padding: 30px 30px;
		width: 50%;
		text-align: center;
		color: #666;
		border-radius: 5px;
		font-size: 12px;
	}
	.submit-button {
		background-color: #65A5A5;
		color: #fff;
		border: none;
		padding: 8px 14px;
		border-radius: 5px;
		cursor: pointer;
		margin: auto;
		font-size: 10px;
		position: absolute;
		left: 50%;
		margin-top: 20px;
		transform: translateX(-50%);
	}
	.submit-button:hover {
		background-color: #65A5A5;
	}
	.submit-button:focus {
		border: none;
		outline: none;
	}
}